 
  
  
  
  
  * {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B0F19;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 12px 40px;
    background-color: #0B0F19;
}

.logo {
    color: #F8FAFC;
    font-size: 20px;
    font-weight: 600;
    margin-right: 35px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: auto;
}

.nav-links a {
    text-decoration: none;
    color: #94A3B8;
    font-size: 14px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #2563EB;
}

.auth-buttons {
    display: flex;
    gap: 12px;
}

.login-btn {
    text-decoration: none;
    color: #2563EB;
    padding: 7px 16px;
    border: 1.5px solid #2563EB;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #1E3A8A;
    color: white;
}

.signup-btn {
    text-decoration: none;
    background-color: #2563EB;
    color: white;
    padding: 7px 16px;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.3s;
}

.signup-btn:hover {
    background-color: #1E3A8A;
}



@media (max-width: 768px) {

    .navbar {
        flex-wrap: wrap;
        padding: 10px 20px;
    }

    
    .logo {
        width: 100%;
        margin-bottom: 10px;
    }

    .nav-links {
        width: 100%;
        justify-content: center;
        gap: 18px;
        margin-bottom: 10px;
    }

    .auth-buttons {
        width: 100%;
        justify-content: center;
    }
}
       
       
       
       
       *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item-line-1{
    display: flex;
    gap: 100px;
padding-left: 50px;
}

.item-line-2{
    display: flex;
    gap: 100px;
padding-left: 50px;
}

.item-line-3{
    display: flex;
    gap: 100px;
padding-left: 50px;
}.item-line-4{
    display: flex;
    gap: 100px;
padding-left: 50px;
}.item-line-5{
    display: flex;
    gap: 100px;
padding-left: 50px;
}